
.cache
build
bin
data
Lazy
.qmlls.ini
theme
quickshell/Theme.qml
quickshell/settings.json
quickshell/data
*.cache
themes/matugen.json
hypr/theme.lua
*.bak
notes
TODO.md

#heaptrack
*.zst
heaptrack.*

fastfetch/config.jsonc


