@import "../theme/theme.css";

* {
  font-family: Inter, ui-sans-serif, system-ui, "Rubik SemiBold", monospace;
  font-size: 15px;
}

/* ---- Bar ---- */
window#waybar {
  background: alpha(@theme-background, 0.5);
  color: @theme-foreground;
}

/* ---- Modul-chips ---- */
#custom-controller,
#custom-gpu_usage,
#custom-gpu_temp,
#custom-gpu_vram,
#mpris,
#battery,
#cpu,
#disk,
#memory,
#temperature,
#pulseaudio,
#clock,
#network,
#time,
#cava,
#disk.bigspace {
  background: transparent;
  color: @theme-foreground;
  padding: 2px 10px;
  margin: 0px;
}

* {
  border-radius: 20px;
}

.modules-left {
  margin: 2px 0 0 5px;
  background-color: @theme-muted;
}

.modules-right {
  background-color: @theme-muted;
  margin: 2px 10px 0 0;
}

#workspaces button {
  padding: 1px 5px;
  background-color: transparent;
  color: @theme-foreground;
}

/* Aktiv workspace */
#workspaces button.active {
  background-color: @theme-primary;
  color: @theme-background;
}

/* Statusfärger */
#battery.warning,
#temperature.warning {
  color: @theme-warning;
}
#battery.critical,
#temperature.critical {
  color: @theme-error;
}
#battery.charging {
  color: @theme-success;
}

#pulseaudio.muted {
  color: @theme-border;
}
