* {
    bg:        #1e1b29E6;
    bg-alt:    #41395EE6;
    fg:        #c9c7d4;
    primary:   #8b5cf6;
    secondary: #2b1a3d;
    muted:     #342e4a;

	font-mono: "JetBrains Nerd Font Bold 12";
	font-search: "JetBrainsMono Nerd Font 14";
}
